html,
body {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.header {
  display: flex;
  background-color: #1f2937;
}
.header-right {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 25px;
  font-size: 18px;
}

ul li {
  display: inline;
  margin-right: 25px;
}

.under-header {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  padding-bottom: 50px;
  padding-top: 50px;
}

.stacked {
  margin-right: 50px;
  color: #e5e7eb;
  flex-wrap: wrap;
  width: 500px;
}

.icon {
  margin-left: 50px;
  margin-top: 20px;
}

.info {
  display: flex;
  margin-top: 50px;
  margin-left: auto;
  justify-content: center;
  font-size: 18px;
}

/* .item {
  justify-content: center;
  display: inline-block;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: top;
} */

.item {
  display: inline-block;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  text-align: center;
  width: 250px;
  margin-right: 10px;
}

.info-title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-style: bold;
  color: #1f2937;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  font-size: 36px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: #1f2937;
  font-style: italic;
  font-weight: lighter;
}

.quote-holder {
  background-color: #e5e7eb;
  padding: 10px;
}

figcaption {
  margin-left: 800px;
}

.cta {
  margin: 100px;
  display: flex;
  justify-content: center;
  background-color: #3882f6;
  padding: 50px;
  color: white;
  align-content: center;
}

button {
  border-radius: 25px;
  border: 2px solid #e5e7eb;
  background-color: #3882f6;
  width: 125px;
  height: 75px;
  color: white;
}

.caption {
  justify-self: flex-start;
  align-self: center;
  margin-right: auto;
  margin-left: 300px;
  font-size: 24px;
}

.but {
  margin-right: 350px;
  justify-self: flex-end;
}

.why {
  font-size: 36px;
}

.footer {
  display: flex;
  background-color: #1f2937;
  color: white;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
